/* src/ProductList.css */
.product-list {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.product-list h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.product-list ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Центрирование элементов */
}

.product-list li {
    flex: 1 1 calc(50% - 20px); /* Два объекта в строке с отступом */
    margin-bottom: 20px;
    box-sizing: border-box;
}

.product-list li:nth-child(odd) {
    margin-right: 20px; /* Добавляем отступ справа для нечетных элементов */
}

.product-list li:nth-last-child(1) {
    flex: 1 1 100%; /* Если один объект в строке, он занимает всю ширину */
    margin-right: 0; /* Убираем отступ справа для последнего элемента */
}

.product-item {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.product-item h2 {
    font-size: 18px;
    margin: 0;
}

.product-item p {
    font-size: 16px;
    color: #555;
}
