/* src/components/Header/Header.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--tg-theme-background-color);
    border-bottom: 1px solid #ddd;
}

.header-left {
    display: flex;
    align-items: center;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.shop-name {
    font-size: 24px;
    font-weight: bold;
    color: #dddddd;
}

.header-right {
    margin-left: auto;
}

.text-right {
    font-size: 16px;
    color: #dddddd;
}
