* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

.App {
  background: linear-gradient(to bottom, #00545B, #06958E);
  display: flex;

  flex-direction: column;
  min-height: 100vh; /* Чтобы фон занимал всю высоту окна */
}